@import "tailwindcss";
@theme {
  --font-inter: "Inter", sans-serif;
  --font-khmer: "Kantumruy Pro", sans-serif;
  --color-primary-color: #253C95;
  --color-secondary-color: #E01F27;
  --color-acent-color: #EAB308;
  --color-background-hover: #D3D3D3;
}
@keyframes fadeIn {
            from { opacity: 0; transform: scale(0.95); }
            to { opacity: 1; transform: scale(1); }
        }
        @keyframes slideIn {
            from { transform: translateX(100%); opacity: 0; }
            to { transform: translateX(0); opacity: 1; }
        }
        .animate-fadeIn {
            animation: fadeIn 0.2s ease-out;
        }
        .animate-slideIn {
            animation: slideIn 0.3s ease-out;
        }
